<%= form_for( @film , remote: true) do |form| %>    
<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
</div>

<div class="field">
    <%= form.label :year %>
    <%= form.text_field :year%>
</div>

<div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
</div>

<div class="field">
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>