<h1><%= @film.title %></h1>
<%= link_to "edit", edit_film_path(@film.id) %>

<hr />
<p>Genre: <%= @film.genre %></p>
<p>Year: <%= @film.year %></p>
<div class="info">
    <%= image_tag @film.image %>
    <p><%= @film.synopsis %></p>
</div>